---
import { CloudfrontImg } from "../../components/ui/CloudfrontImg";
import client from "../../graphql/client/ApolloClient";
import type { BlogTagsQueryData } from "../../graphql/generatedType/CategoryTpes";
import { ITagsGraphQl } from "../../graphql/gql/category.gql";
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

const { data: tagsData } = await client.query<BlogTagsQueryData>({
  query: ITagsGraphQl,
  variables: { id: slug },
  fetchPolicy: "cache-first",
});
console.log(slug, "tagSlug");
---

<Layout
  title={tagsData?.tags?.edges[0]?.node?.seo?.title}
  description={tagsData?.tags?.edges[0]?.node?.seo?.metaDesc}
  metaKeywords={tagsData?.tags?.edges[0]?.node?.seo?.metaKeywords}
  opengraphDescription={tagsData?.tags?.edges[0]?.node?.seo
    ?.opengraphDescription}
  metaRobotsNofollow={tagsData?.tags?.edges[0]?.node?.seo?.metaRobotsNofollow}
  metaRobotsNoindex={tagsData?.tags?.edges[0]?.node?.seo?.metaRobotsNoindex}
  twitterDescription={tagsData?.tags?.edges[0]?.node?.seo?.twitterDescription}
  twitterTitle={tagsData?.tags?.edges[0]?.node?.seo?.twitterTitle}
  twitterImage={tagsData?.tags?.edges[0]?.node?.seo?.twitterImage?.mediaItemUrl}
  twitterImage={tagsData?.tags?.edges[0]?.node?.seo?.twitterImage?.altText}
  opengraphTitle={tagsData?.tags?.edges[0]?.node?.seo?.opengraphTitle}
  opengraphType={tagsData?.tags?.edges[0]?.node?.seo?.opengraphType}
  opengraphUrl={tagsData?.tags?.edges[0]?.node?.seo?.opengraphUrl}
  opengraphSiteName={tagsData?.tags?.edges[0]?.node?.seo?.opengraphSiteName}
  focuskw={tagsData?.tags?.edges[0]?.node?.seo?.focuskw}
  canonical={tagsData?.tags?.edges[0]?.node?.seo?.canonical}
  schema={tagsData?.tags?.edges[0]?.node?.seo?.schema?.raw}
>
  <div>
    <div class="relative tagsbanner overflow-hidden min-h-[500px]">
      <figure class="absolute size-full left-0 top-0 z-10">
        <CloudfrontImg
          src="https://superiorfence.s3.amazonaws.com/wp-content/uploads/2025/02/04082104/Fence-Types_Header-1.webp"
          alt="tagsBanner"
          className="size-full object-cover object-center"
        />
      </figure>
      <div class={`pt-[200px]  relative z-20 mt-auto `}>
        <div class="container">
          <div class="flex flex-wrap -m-[9px]">
            <div class={`w-full p-[9px] relative`}>
              <div class={`  py-[40px] px-[30px]`}>
                <ul
                  class="relative text-white font-montserratsemibold uppercase flex items-center gap-5 text-[14.4px] mb-2 breadcrumb"
                >
                  <li><a href="">Home</a></li>
                  <li>Tag</li>
                </ul>
                <h1
                  class={`text-[60px] text-left font-montserratregular leading-[1.1] pb-[30px] relative text-white font-normal`}
                >
                  #{slug} Archives | Superior Fence & Rail, Inc.
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-[60px]">
    <div class="container">
      {
        tagsData?.posts?.edges?.map((item, index) => (
          <div
            class={`flex ${index % 2 != 0 ? "flex-row-reverse" : ""} pb-[32px] border-b-[2px]  border-b-[rgba(0,0,0,0.07)] mb-[32px] items-center`}
          >
            <div class="w-1/2 px-[16px]">
              <figure class="w-full h-[438px] leading-[0]">
                <img
                  src={item.node?.featuredImage?.node?.mediaItemUrl}
                  alt={item.node?.featuredImage?.node?.altText}
                  class="w-full h-full object-cover"
                />
              </figure>
            </div>
            <div class="w-1/2 p-[16px]">
              <div class="">
                {item.node.categories.edges.map((categories) => (
                  <a
                    class="text-[13px] uppercase text-[#252525] opacity-50 font-montserratsemibold pl-4 first:pl-0 taglinks inline"
                    href={categories?.node?.name}
                  >
                    {categories?.node?.slug}
                  </a>
                ))}
              </div>
              <div>
                <p class="text-[#252525] text-[13px] opacity-50 font-montserratsemibold uppercase">
                  /{" "}
                  {new Date(item.node.date).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}{" "}
                  /{" "}
                  <i class="inline-block">
                    <img src="/assets/images/mesgIcon.png" alt="mesgIcon" />
                  </i>
                  0
                </p>
              </div>
              <div>
                <h2>
                  <a href="">{item.node?.title}</a>
                </h2>
                <a
                  class="text-[17.6px] opacity-70 font-montserratsemibold"
                  href={item.node?.author?.node?.username}
                >
                  By {""}
                  {item.node?.author?.node?.firstName}{" "}
                  {item.node?.author?.node?.lastName}
                </a>
                <div class="flex items-center mt-[20px]">
                  <a
                    href="https://www.facebook.com/superiorfenceandrailofnorthflorida/"
                    class="mr-[8px] hover:[opacity:0.8]"
                  >
                    <img
                      src="/assets/images/facebook.png"
                      alt="facebook"
                      style={{ width: "32px", height: "auto" }}
                    />
                  </a>
                  <a
                    href="https://x.com/SuperiorFence"
                    class="mr-[8px]  hover:[opacity:0.8]"
                  >
                    <img
                      src="/assets/images/twitter.png"
                      alt="twitter"
                      style={{ width: "32px", height: "auto" }}
                    />
                  </a>
                  <a
                    href="https://www.linkedin.com/company/superior-fence-and-rail/"
                    class=" hover:[opacity:0.8]"
                  >
                    <img
                      src="/assets/images/linkedin.png"
                      alt="linkedin"
                      style={{ width: "32px", height: "auto" }}
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>
