---
import InnerBanner from "../components/InnerBanner/InnerBanner";
import assets from "../json/assets";
import ReviewBlock from "../components/ReviewBlock/ReviewBlock";
import { type IRatingReviewsBaseResponse } from "../graphql/generatedType/ReviewRatingsTypes";
import { IRatingReviewsBaseQuery } from "../graphql/gql/reviewRating.gql";
import Layout from "../layouts/Layout.astro";
import { YouTube } from "astro-embed";
import client from "../graphql/client/ApolloClient";
import TestimonialRatingReview from "../components/Testimonial/TestimonialRatingReview";
import StarRating from "../components/CustomStarRatingComponent/StarRating";
import { Button } from "../components/ui/button";
import { CloudfrontImg } from "../components/ui/CloudfrontImg";
import { quoteLink } from "../components/Header/Header";

const { locationSlug } = Astro.params;

const { data: reviewData } = await client.query<IRatingReviewsBaseResponse>({
  query: IRatingReviewsBaseQuery,
  variables: {
    id: `fence-company-reviews-${locationSlug}`,
  },
  fetchPolicy: "cache-first",
});

console.log(reviewData?.pageBy?.fenceCompanyReviewsPagePurpose, "fenceData");
// reviewData?.pages?.edges[0]?.node
//       ?.fenceCompanyReviewsPagePurpose?.headerBannerHeading
---

<Layout
  title={reviewData?.pageBy?.seo?.title}
  description={reviewData?.pageBy?.seo?.metaDesc}
  metaKeywords={reviewData?.pageBy?.seo?.metaKeywords}
  opengraphDescription={reviewData?.pageBy?.seo?.opengraphDescription}
  metaRobotsNofollow={reviewData?.pageBy?.seo?.metaRobotsNofollow}
  metaRobotsNoindex={reviewData?.pageBy?.seo?.metaRobotsNoindex}
  twitterDescription={reviewData?.pageBy?.seo?.twitterDescription}
  twitterTitle={reviewData?.pageBy?.seo?.twitterTitle}
  twitterImage={reviewData?.pageBy?.seo?.twitterImage?.mediaItemUrl}
  twitterImage={reviewData?.pageBy?.seo?.twitterImage?.altText}
  opengraphTitle={reviewData?.pageBy?.seo?.opengraphTitle}
  opengraphType={reviewData?.pageBy?.seo?.opengraphType}
  opengraphUrl={reviewData?.pageBy?.seo?.opengraphUrl}
  opengraphSiteName={reviewData?.pageBy?.seo?.opengraphSiteName}
  focuskw={reviewData?.pageBy?.seo?.focuskw}
  canonical={reviewData?.pageBy?.seo?.canonical}
  schema={reviewData?.pageBy?.seo?.schema?.raw}
>
  <div class="relative bannerHome">
    <figure class="absolute size-full left-0 top-0 z-10">
      <CloudfrontImg
        src={reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
          ?.headerBannerImage?.node?.mediaItemUrl}
        alt={reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
          ?.headerBannerImage?.node?.altText}
        className="size-full object-cover"
      />
    </figure>
    <div class="pt-[200px] pb-[150px] relative z-20">
      <div class="container">
        <div class="flex flex-wrap -m-[9px]">
          <div class="w-[67%] p-[9px] relative">
            <div class="bg-[rgba(255,255,255,.8)] py-[40px] px-[30px]">
              <h1
                class="text-primary text-[60px] text-left leading-[1.1] pb-[30px] relative after:bg-primary after:absolute after:left-0 after:bottom-[15px] after:w-[60px] after:h-[2px]"
              >
                {
                  reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
                    .headerBannerHeading
                }
              </h1>
            </div>
          </div>

          <div class="w-[33%] p-[9px]">
            <div class="bg-[#cccaca] py-[35px] px-[30px]">
              <h3 class="text-primary text-[22px] font-medium mb-5">
                Why Choose Superior Fence & Rail, Inc.
              </h3>
              <a
                class="bg-[#707070] px-[25px] pb-[18px] flex text-white w-[270px] min-h-[134px] mx-auto mb-10 relative"
                target="_blank"
                href="https://birdeye.com/superior-fence-rail-152044990161311"
              >
                <img
                  class="absolute top-0 right-[26px] w-[56px] h-[93px]"
                  src={assets.badge}
                />
                <div class="relative top-[13px]">
                  <p class="text-[28px] max-w-[140px] font-light leading-8">
                    {
                      reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
                        .certificateText
                    }
                  </p>
                  <!-- <p class="text-[28px]font-light leading-7">
                    Certified Reviews
                  </p> -->
                  <div class="mb-2">
                    <StarRating
                      client:load
                      rating={parseFloat(
                        reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
                          .certificateRating
                      )}
                      size="w-3 h-3"
                    />
                  </div>
                </div>
              </a>
              <div class="text-center mt-[20px]">
                <Button
                  variant="secondary"
                  className="px-[58px] text-[14.4px] min-w-auto w-full tracking-[1px] transform transition-transform duration-300 ease-in-out hover:-translate-y-1"
                  onClick={() => (window.location.href = quoteLink)}
                >
                  {"GET A FREE QUOTE >"}
                </Button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2 bg-[#821302] relative z-20"></div>
  </div>
  <div class="py-[64px]">
    <div class="container">
      <h2 class="mb-6">You Can Count on First-Class Customer Service</h2>
      <p class="mb-8">
        Your satisfaction is what we care about most. With most fence companies,
        it’s just rhetoric. However, at Superior Fence and Rail, we go the extra
        mile whether it’s your first call for a quote, or you need help years
        after your completed fence installation. See and hear from customers in
        your area – in real-time on this page!
      </p>
      <div class="w-full">
        <YouTube
          class="w-full max-w-[3000px]"
          id={reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
            .youtubeVideoLink}
        />
        <TestimonialRatingReview
          client:only="react"
          ratingLeft
          data={reviewData?.allTestimonials}
        />
        <h2 class="text-[26px] text-primary text-center">
          {
            reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
              ?.whatCustomersAreSayingText
          }
        </h2>

        <ReviewBlock
          client:load
          reviewScript={reviewData?.pageBy?.fenceCompanyReviewsPagePurpose
            ?.reviewScript}
        />
      </div>

      <Button
        variant="default"
        className="px-[13px] text-[11px] min-w-auto  mt-9 "
      >
        {"GET A FENCE QUOTE >"}
      </Button>
      <!-- <FenceReviewSection/> -->
    </div>
  </div>
</Layout>
